# Office temporary files
~$*

# Access database lock files (laccdb, ldb)
*.[lL][aA][cC][cC][dD][bB]
*.[lL][dD][bB]

# The following sections constitute a list of Office file extensions that support VBA.
# If you want to exclude Office files from your repo, uncomment the corresponding file extensions.

# Excel files (prevent committing real data or reports)
*.xls
*.xlsx
*.xlsm
*.xlsb
*.xlt
*.xltm
*.xla
*.xlam

# Word (doc, docm, dot, dotm) – not needed here, so ignored as well
*.doc
*.docm
*.dot
*.dotm

# PowerPoint (ppt, pptm, pot, potm, pps, ppsm) – ignore too
*.ppt
*.pptm
*.pot
*.potm
*.pps
*.ppsm

# Ignore generated PDF reports
*.pdf
